02-workflow-orchestration/04-etl_pipeline_1.yaml
id: etl_pipeline_1
namespace: zoomcamp.moqian
labels:
  tag: Getting Started
description: |
  The flow extracts, transforms and loads NY taxi data.

inputs:
  - id: taxi
    type: SELECT
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020", "2021"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{ inputs.taxi }}_tripdata_{{ inputs.year }}-{{ inputs.month}}.csv"
  staging_table: "public.{{ inputs.taxi }}_tripdata_staging"
  table: "public.{{ inputs.taxi }}_tripdata"
  data: "{{ outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv'] }}"

tasks:

  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{ render(vars.file) }}"
      taxi: "{{ inputs.taxi }}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{ inputs.taxi }}/{{ render(vars.file) }}.gz" | gunzip > {{ render(vars.file) }}

  - id: if_green
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.taxi == 'green' }}"
    then:
    
    - id: green_create_table
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        CREATE TABLE IF NOT EXISTS {{ render(vars.table) }} (
            unique_row_id          TEXT,
            filename               TEXT,
            VendorID               TEXT,
            lpep_pickup_datetime   TIMESTAMP,
            lpep_dropoff_datetime  TIMESTAMP,
            store_and_fwd_flag     TEXT,
            RatecodeID             TEXT,
            PULocationID           TEXT,
            DOLocationID           TEXT,
            passenger_count        INTEGER,
            trip_distance          DOUBLE PRECISION,
            fare_amount            DOUBLE PRECISION,
            extra                  DOUBLE PRECISION,
            mta_tax                DOUBLE PRECISION,
            tip_amount             DOUBLE PRECISION,
            tolls_amount           DOUBLE PRECISION,
            ehail_fee              DOUBLE PRECISION,
            improvement_surcharge  DOUBLE PRECISION,
            total_amount           DOUBLE PRECISION,
            payment_type           INTEGER,
            trip_type              INTEGER,
            congestion_surcharge   DOUBLE PRECISION
            )
      
    - id: green_create_staging_table
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        CREATE TABLE IF NOT EXISTS {{ render(vars.staging_table) }} (
            unique_row_id          TEXT,
            filename               TEXT,
            VendorID               TEXT,
            lpep_pickup_datetime   TIMESTAMP,
            lpep_dropoff_datetime  TIMESTAMP,
            store_and_fwd_flag     TEXT,
            RatecodeID             TEXT,
            PULocationID           TEXT,
            DOLocationID           TEXT,
            passenger_count        INTEGER,
            trip_distance          DOUBLE PRECISION,
            fare_amount            DOUBLE PRECISION,
            extra                  DOUBLE PRECISION,
            mta_tax                DOUBLE PRECISION,
            tip_amount             DOUBLE PRECISION,
            tolls_amount           DOUBLE PRECISION,
            ehail_fee              DOUBLE PRECISION,
            improvement_surcharge  DOUBLE PRECISION,
            total_amount           DOUBLE PRECISION,
            payment_type           INTEGER,
            trip_type              INTEGER,
            congestion_surcharge   DOUBLE PRECISION
            )

    - id: green_truncate_staging_table
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        TRUNCATE TABLE {{ render(vars.staging_table) }};

    - id: green_copy_into_staging_table
      type: io.kestra.plugin.jdbc.postgresql.CopyIn
      format: CSV
      from: "{{ render(vars.data) }}"
      table: "{{ render(vars.staging_table) }}"
      header: true
      columns: 
        - VendorID
        - lpep_pickup_datetime
        - lpep_dropoff_datetime
        - store_and_fwd_flag
        - RatecodeID
        - PULocationID
        - DOLocationID
        - passenger_count 
        - trip_distance
        - fare_amount
        - extra
        - mta_tax
        - tip_amount
        - tolls_amount
        - ehail_fee
        - improvement_surcharge
        - total_amount 
        - payment_type
        - trip_type
        - congestion_surcharge

    - id: green_staging_table_transform
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        UPDATE {{ render(vars.staging_table) }}
        SET filename = '{{ render(vars.file) }}';
        UPDATE {{ render(vars.staging_table) }}
        SET unique_row_id = md5(CONCAT(
        filename,
        VendorID,
        lpep_pickup_datetime,
        lpep_dropoff_datetime,
        PULocationID,
        DOLocationID)
        );

    - id: green_table_merge
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        INSERT INTO {{ render(vars.table) }}
        SELECT * FROM {{ render(vars.staging_table) }};

  - id: if_yellow
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.taxi == 'yellow' }}"
    then:
    
    - id: yellow_create_table
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        CREATE TABLE IF NOT EXISTS {{ render(vars.table) }} (
            unique_row_id          TEXT,
            filename               TEXT,
            VendorID               TEXT,
            tpep_pickup_datetime   TIMESTAMP,
            tpep_dropoff_datetime  TIMESTAMP,
            passenger_count        INTEGER,
            trip_distance          DOUBLE PRECISION,
            RatecodeID             TEXT,
            store_and_fwd_flag     TEXT,
            PULocationID           TEXT,
            DOLocationID           TEXT,
            payment_type           INTEGER,
            fare_amount            DOUBLE PRECISION,
            extra                  DOUBLE PRECISION,
            mta_tax                DOUBLE PRECISION,
            tip_amount             DOUBLE PRECISION,
            tolls_amount           DOUBLE PRECISION,
            improvement_surcharge  DOUBLE PRECISION,
            total_amount           DOUBLE PRECISION,
            congestion_surcharge   DOUBLE PRECISION
            )
      
    - id: yellow_create_staging_table
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        CREATE TABLE IF NOT EXISTS {{ render(vars.staging_table) }} (
            unique_row_id          TEXT,
            filename               TEXT,
            VendorID               TEXT,
            tpep_pickup_datetime   TIMESTAMP,
            tpep_dropoff_datetime  TIMESTAMP,
            passenger_count        INTEGER,
            trip_distance          DOUBLE PRECISION,
            RatecodeID             TEXT,
            store_and_fwd_flag     TEXT,
            PULocationID           TEXT,
            DOLocationID           TEXT,
            payment_type           INTEGER,
            fare_amount            DOUBLE PRECISION,
            extra                  DOUBLE PRECISION,
            mta_tax                DOUBLE PRECISION,
            tip_amount             DOUBLE PRECISION,
            tolls_amount           DOUBLE PRECISION,
            improvement_surcharge  DOUBLE PRECISION,
            total_amount           DOUBLE PRECISION,
            congestion_surcharge   DOUBLE PRECISION
            )

    - id: yellow_truncate_staging_table
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        TRUNCATE TABLE {{ render(vars.staging_table) }};

    - id: yellow_copy_into_staging_table
      type: io.kestra.plugin.jdbc.postgresql.CopyIn
      format: CSV
      from: "{{ render(vars.data) }}"
      table: "{{ render(vars.staging_table) }}"
      header: true
      columns: 
        - VendorID
        - tpep_pickup_datetime
        - tpep_dropoff_datetime
        - passenger_count
        - trip_distance
        - RatecodeID
        - store_and_fwd_flag
        - PULocationID
        - DOLocationID
        - payment_type
        - fare_amount
        - extra
        - mta_tax
        - tip_amount
        - tolls_amount
        - improvement_surcharge
        - total_amount
        - congestion_surcharge

    - id: yellow_staging_table_transform
      type: io.kestra.plugin.jdbc.postgresql.Queries
      sql: |
        UPDATE {{ render(vars.staging_table) }}
        SET filename = '{{ render(vars.file) }}';
        UPDATE {{ render(vars.staging_table) }}
        SET unique_row_id = md5(CONCAT(
        filename,
        VendorID,
        tpep_pickup_datetime,
        tpep_dropoff_datetime,
        PULocationID,
        DOLocationID)
        );

  - id: table_merge
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      INSERT INTO {{ render(vars.table) }}
      SELECT * FROM {{ render(vars.staging_table) }};
    
pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
      username: root
      password: root